<li>
  <div class="d-flex align-items-center gap-2 mb-3">
    <%= image_tag attendee.decorate.avatar, class: 'rounded-circle avatar-md' %>
    <% if current_user == attendee %>
      <%= link_to attendee.name, mypage_profile_path %>      
    <% else %>
      <%= link_to attendee.name, profile_path(attendee.id) %>
    <% end %>
  </div>
</li>
